/*
*@author Pedro Rodrigues
 */

/* =================== Layout ======================= */
body{
    background: url("../img/men.jpg") no-repeat center;
    background-size: cover;
    background-attachment: scroll;
}

hr {
    color: #f00;
    background-color: #f00;
    height: 3px;
    width: 65px;
    margin-top: -15px;
}
#margin{
    margin-left: 630px;
}
#color{
    color: black;
}
#space{
    margin-top: 35px;
}
#section2{
    background-color: #0d3a33;
    height: 75%;
    display: table;
    width: 100%;
}
#section3{
    background-color: white;
    height: 75%;
    display: table;
    width: 100%;
}
#imgSection4 {
    height: 25%;
    background: url("../img/metro.jpg") no-repeat center;
    background-size: cover;
    background-attachment: scroll;
}
#section4{
    background-color: cyan;
    height: 50%;
    display: table;
    width: 100%;
}
.btn-new{
    color: white;
    background-color: red;
    border-radius: 15%;
}

.btn-new:active:hover{
    color: white;
    background-color: darkred;
    border-color: white;
}
.btn-new2{
    color: black;
    background-color: orange;
    border-radius: 15%;
}

.btn-new2:active:hover{
    color: black;
    background-color: orangered;
    border-color: white;
    border-radius: 15%;
}

.colunas{
    text-align: center;
    color: black;
    vertical-align: middle;
}

/* ----- Navbar ----- */
html, body, .capa,.capa2, section2, section3{
    height: 100%;
}


/* ----- Imagem de Capa -----*/
.capa{
    padding-top: 50px;
    padding-bottom: 50px;
    display: table;
    width: 100%;
}

.texto-capa {
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

/*--------Tipografia-------*/

.tip {
    font-size: 90px;
    margin-bottom: 55px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.title{
    font-size: 50px;
    margin-top: -5px;
    margin-bottom: 40px;
    font-weight: 300;
    font-family: Constantia;
    text-align: center;
    padding-top: 50px;
}


.glyph-icon{
    width: 90px;
    height: 90px;

}

